* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(67, 66, 66);
    color: rgb(221, 221, 221);
}
a {
    color: rgb(221, 221, 221);
    text-decoration: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.header .container {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}
main { 
    padding: 15px 0;
}
ul {
    list-style: none;
}
.news_element { 
    margin: 20px 0px;
}